.App {
  text-align: center;
  background-color: #ab8b7c;
}

.dropbtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  left: 1000;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color:#000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0);
  z-index: 1;
}
.header {
  text-align: center;
}

ul li {
  list-style-type: none;
}
.review-cards-ul {
  text-align: center;
}
.cards-ul {
  display: inline-block;
  text-align: center;
}

.options {
  color: #ffffff;
}
.select-container {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.select-container-btn {
  background-color: #ffffff ;
}

.order-container-btn {
  background-color: #ffffff  ;
}

.order-container {
  background-color: #000000 ;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.nav-bar {
  background-color: #000000 ;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.categories {
  background-color: #000000 ;
  color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #000000 }
.categories:active {background-color: #000000 ;}

.hidden-description {
  display: none;
  color: #ffffff;
}
.categories:hover + .hidden-description {
  display: inline-block;
  background-color: #61250a ;
  color: rgb(255, 255, 255);
}
.review-card {
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  max-width: 400px;
  background-color: #ffffff;
  margin: 10px 0;
}

a:any-link {
  text-decoration: none;
  color: #000000;
}

.Detailed-Review-card {
  text-align: center;
  display: block;
}

 .detailed-review-title {
  max-width: 700px;
  background-color: #ffffff;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.detailed-review {
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  max-width: 300px;
}
.detailed-review-votes {
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  max-width: 100px;
}
.detailed-review-body {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

.comments {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
}

.add-comment-button {
  background-color: #5c5c5c;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.vote-comment-button {
  background-color: #5c5c5c;
  border: none;
  color: white;
  padding: 5px 10px;
}